.body {
  background: linear-gradient(to bottom, rgba(255, 250, 240, 0.95), rgba(240, 215, 195, 0.95)),
    url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  background-size: cover;
  font-family: 'Georgia', serif;
  color: #4B2E2E;
  margin: 0;
  padding: 0;
  

}

header {


  background-color: #f5efef;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 1s ease;
}

.main-header h1 a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
}

.contenido {
   max-width: 900px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.contenido h2 {
  text-align: center;
  color: #600000;
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.tabla-artistas {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.tabla-artistas th{
  background-color: #8B0000;
  color: white;
  padding: 12px;
  font-size: 1.1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tabla-artistas td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.tabla-artistas th {
  background-color: #a13535;
  transition: 0.3s;
}

.tabla-artistas tr:hover {
  background-color: #e9ecef;
  transition: background-color 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-contenido {
  background: white;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}


/* Diseño Responsivo */
@media (max-width: 768px) {

  .tabla-artistas th,
  .tabla-artistas td {
    padding: 10px;
    font-size: 0.9rem;
  }

  .contenido h2 {
    font-size: 1.5rem;
  }

  .main-header h1 a {
    font-size: 1.8rem;
  }
}