body {
    font-family: Arial, sans-serif;
    background-color: #f7f3f0;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #8B0000;
    color: white;
    text-align: center;
    padding: 20px;
  }
  h1{
    font-size: 500%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
 
td:hover {
    background-color: rgb(184, 151, 151);
    text-decoration: underline;
  }
  section {
    padding: 20px;
  }
  h2 {
    color: #8B0000;
  }

  table {
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin: 10px;
    margin-right: 10px;
    border: 1px solid #8B0000;
  }
  th{
    border-collapse: collapse;
    background-color: rgb(214, 163, 163);
  }
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #8B0000;
  }
  form {
    background-color: #fff0f0;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
  }
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  footer {
    background-color: #8B0000;
    color: white;
    text-align: center;
    padding: 10px;
  }